<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/styles/event.css" />
    <link rel="stylesheet" href="../assets/styles/main.css" />
    <title>Monogatarya - Crear Evento</title>
</head>

<body>
    <header>
        <div class="header-gruop">
            <label for="menu-toggle" class="icon-btn white" aria-label="Menú">
                <svg class="icon">
                    <use href="../assets/img/icon-sprites.svg#menu"></use>
                </svg>
            </label>
            <img src="../assets/img/logo.webp" alt="Logo de la página">
            <h1>MONOGATARYA</h1>
            <div class="right-group">
                <form action="" autocomplete="on" method="get">
                    <div class="search">
                        <button class="icon-btn red" aria-label="Buscar">
                            <svg class="icon">
                                <use href="../assets/img/icon-sprites.svg#buscar"></use>
                            </svg>
                        </button>

                        <input class="search-input" type="search" name="busqueda" placeholder="Search" required
                            minlength="2" maxlength="40">

                        <button class="icon-btn red" aria-label="Micrófono">
                            <svg class="icon">
                                <use href="../assets/img/icon-sprites.svg#microfono"></use>
                            </svg>
                        </button>
                    </div>
                </form>
                <a href="../profiles/profile-view.html" class="icon-btn white user-link" aria-label="Ir al perfil de usuario">
                    <svg class="icon">
                        <use href="../assets/img/icon-sprites.svg#usuario"></use>
                    </svg>
                </a>
            </div>
        </div>
    </header>


    <main class="page-main">
        <div class="layout-container">
            <section class="card-panel" aria-labelledby="crear-evento-title">
                <h2 id="crear-evento-title" class="section-title">Formulario de gestión de evento</h2>
                <form class="form-vertical" action="event-detail.html" method="post">

                    <div class="field-group">
                        <label for="nombre-evento">Título del evento</label>
                        <input id="nombre-evento" type="text" name="nombre" required minlength="3" maxlength="50">
                    </div>
                    <div class="field-group">
                        <label for="fecha-evento">Fecha</label>
                        <input id="fecha-evento" type="date" name="fecha" required>
                    </div>
                    <div class="field-group">
                        <label for="lugar-evento">Lugar</label>
                        <input id="lugar-evento" type="text" name="lugar" required minlength="3">
                    </div>
                    <div class="field-group">
                        <label for="aforo">Aforo</label>
                        <input id="aforo" type="number" name="aforo" min="50" required>
                    </div>
                    <div class="field-group">
                        <label for="descripcion-evento">Descripción</label>
                        <textarea id="descripcion-evento" name="descripcion" required minlength="10"
                            maxlength="300"></textarea>
                    </div>
                    <div class="field-group">
                        <label for="imagen">Imagen del evento</label>
                        <input id="imagen" type="file" name="imagen" accept="image/*" required>
                    </div>
                    <div class="inline-actions">
                        <button type="submit" class="btn btn-add">Publicar evento</button>
                        <button type="reset" class="btn btn-delete">Cancelar</button>
                    </div>
                </form>
            </section>
        </div>
    </main>

    <input type="checkbox" id="menu-toggle">

    <ul class="menu-width">
        <li><a href="../index.html">Página de inicio</a></li>
        <li><a href="../catalogs/anime/anime-catalog.html">Catálogo de animes</a></li>
        <li><a href="../catalogs/manga/manga-catalog.html">Catálogo de mangas</a></li>
        <li><a href="event-detail.html">Eventos</a></li>
        <li class="logout"><a href="../home.html">Cerrar sesión</a></li>
    </ul>

    <footer>
        <div class="container">© 2026 Monogatarya. Todos los derechos reservados.</div>
    </footer>

</body>

</html>